In [1]:
# minmaxscaler

In [2]:
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
print ("data=",data)
scaler = MinMaxScaler(feature_range = (10, 105.1))
print("fit=",scaler.fit(data))
print("data_max_=",scaler.data_max_)
print("data_min_=",scaler.data_min_)
print("transform",scaler.transform(data))

print ()
data = [[-1, ], [-0.5, ], [0, ], [1, ]]
print ("data=",data)
scaler = MinMaxScaler(feature_range = (10, 105.1))
print("fit=",scaler.fit(data))
print("data_max_=",scaler.data_max_)
print("data_min_=",scaler.data_min_)
print("transform",scaler.transform(data))

data= [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
fit= MinMaxScaler(feature_range=(10, 105.1))
data_max_= [ 1. 18.]
data_min_= [-1.  2.]
transform [[ 10.     10.   ]
 [ 33.775  33.775]
 [ 57.55   57.55 ]
 [105.1   105.1  ]]

data= [[-1], [-0.5], [0], [1]]
fit= MinMaxScaler(feature_range=(10, 105.1))
data_max_= [1.]
data_min_= [-1.]
transform [[ 10.   ]
 [ 33.775]
 [ 57.55 ]
 [105.1  ]]

In [3]:
#! pip install Faker==2.0.5

In [ ]:
# Pydb

In [6]:
import os
import random
from random import randint, choice
import pandas as pd
from six import moves
import ssl
from faker import Faker


class Pydb:
    def __init__(self, seed=None):
        """
        Initiates the class and creates a Faker() object for later data generation by other methods
        seed: User can set a seed parameter to generate deterministic, non-random output
        """
        

        self.faker = Faker()
        self.fake = Faker()
        self.seed = seed
        self.randnum = randint(1, 9)

        self.city_list = self._initialize_city_list()
        self.domain_list = self._initialize_email_domain_list()

    def _initialize_city_list(self):
        

        path = "../data/US_Cities.txt"
        if not os.path.isfile(path):
            context = ssl._create_unverified_context()
            moves.urllib.request.urlretrieve(
                "https://raw.githubusercontent.com/tflearn/tflearn.github.io/master/resources/US_Cities.txt",
                path,
            )

        city_list = []
        with open(path) as fh:
            city_list = [str(line).strip() for line in fh.readlines()]

        return city_list

    def _initialize_email_domain_list(self):
        dir_path = "../data"
        path = dir_path + os.sep + "Domains.txt"

        domain_list = []
        with open(path) as fh:
            domain_list = [str(line).strip() for line in fh.readlines()]

        return domain_list

    def simple_ph_num(self, seed=None):
        """
        Generates 10 digit US phone number in xxx-xxx-xxxx format
        seed: Currently not used. Uses seed from the pydb class if chosen by user
        """
        random.seed(self.seed)

        phone_format = "{p1}-{p2}-{p3}"

        p1 = str(randint(100, 999))
        p2 = str(randint(0, 999)).rjust(3, "0")
        p3 = str(randint(0, 9999)).rjust(4, "0")

        return phone_format.format(p1=p1, p2=p2, p3=p3)

    def license_plate(self, seed=None, style=None):
        """
        Generates vehicle license plate number in 3 possible styles
        Style can be 1, 2, or 3.
        - 9ABC123 format
        - ABC-1234 format
        - ABC-123 format
        If style is not specified by user, a random style is chosen at runtime
        seed: Currently not used. Uses seed from the pydb class if chosen by user
        """
        random.seed(self.seed)

        if not style:
            style = choice([1, 2, 3])

        license_place_format = "{p1}{p2}{p3}"

        if style == 1:
            p1 = str(randint(1, 9))
            p2 = "".join([chr(randint(65, 90)) for _ in range(3)])
            p3 = "".join([str(randint(1, 9)) for _ in range(3)])
        elif style == 2:
            p1 = "".join([chr(randint(65, 90)) for _ in range(3)])
            p2 = "-"
            p3 = "".join([str(randint(0, 9)) for _ in range(4)])
        else:
            p1 = "".join([chr(randint(65, 90)) for _ in range(3)])
            p2 = "-"
            p3 = "".join([str(randint(0, 9)) for _ in range(3)])

        return license_place_format.format(p1=p1, p2=p2, p3=p3)

    def realistic_email(self, name, seed=None):
        """
        Generates realistic email from first and last name and a random domain address
        seed: Currently not used. Uses seed from the pydb class if chosen by user
        """
        random.seed(self.seed)

        name = str(name)
        f_name = name.split()[0]
        l_name = name.split()[-1]

        choice_int = choice(range(10))

        domain = choice(self.domain_list)

        name_formats = [
            "{f}{last}",
            "{first}{last}",
            "{first}.{l}",
            "{first}_{l}",
            "{first}.{last}",
            "{first}_{last}",
            "{last}_{first}",
            "{last}.{first}",
        ]
        name_fmt_choice = choice(name_formats)
        name_combo = name_fmt_choice.format(
            f=f_name[0], l=l_name[0], first=f_name, last=l_name
        )

        if choice_int < 7:
            email = name_combo + "@" + str(domain)
        else:
            random_int = randint(11, 99)
            email = name_combo + str(random_int) + "@" + str(domain)

        return email

    def city_real(self, seed=None):
        """
        Picks and returns a random entry out of 385 US cities
        seed: Currently not used. Uses seed from the pydb class if chosen by user
        """
        random.seed(self.seed)

        return choice(self.city_list)

    def gen_data_series(self, num=10, data_type="name", seed=None):
        """
        Returns a pandas series object with the desired number of entries and data type

        Data types available:
        - Name, country, city, real (US) cities, US state, zipcode, latitude, longitude
        - Month, weekday, year, time, date
        - Personal email, official email, SSN
        - Company, Job title, phone number, license plate

        Phone number can be two types:
        'phone_number_simple' generates 10 digit US number in xxx-xxx-xxxx format
        'phone_number_full' may generate an international number with different format

        seed: Currently not used. Uses seed from the pydb class if chosen by user

        """
        if type(data_type) != str:
            raise ValueError(
                "Data type must be of type str, found " + str(type(data_type))
            )
        try:
            num = int(num)
        except:
            raise ValueError(
                "Number of samples must be a positive integer, found " + num
            )

        if num <= 0:
            raise ValueError(
                "Number of samples must be a positive integer, found " + num
            )

        num = int(num)
        fake = self.fake
        self.faker.seed(self.seed)

        func_lookup = {
            "name": fake.name,
            "country": fake.country,
            "street_address": fake.street_address,
            "city": fake.city,
            "real_city": self.city_real,
            "state": fake.state,
            "zipcode": fake.zipcode,
            "latitude": fake.latitude,
            "longitude": fake.longitude,
            "name_month": fake.month_name,
            "weekday": fake.day_of_week,
            "year": fake.year,
            "time": fake.time,
            "date": fake.date,
            "ssn": fake.ssn,
            "email": fake.email,
            "office_email": fake.company_email,
            "company": fake.company,
            "job_title": fake.job,
            "phone_number_simple": self.simple_ph_num,
            "phone_number_full": fake.phone_number,
            "license_plate": self.license_plate,
        }

        if data_type not in func_lookup:
            raise ValueError(
                "Data type must be one of " + str(list(func_lookup.keys()))
            )

        datagen_func = func_lookup[data_type]
        return pd.Series((datagen_func() for _ in range(num)))

    def _validate_args(self, num, fields):
        try:
            num = int(num)
        except:
            raise ValueError(
                "Number of samples must be a positive integer, found " + num
            )
        if num <= 0:
            raise ValueError(
                "Number of samples must be a positive integer, found " + num
            )

        num_cols = len(fields)
        if num_cols < 0:
            raise ValueError(
                "Please provide at least one type of data field to be generated"
            )

    def gen_dataframe(
        self,
        num=10,
        fields=["name"],
        real_email=True,
        real_city=True,
        phone_simple=True,
        seed=None,
    ):
        """
        Generate a pandas dataframe filled with random entries.
        User can specify the number of rows and data type of the fields/columns

        Data types available:
        - Name, country, city, real (US) cities, US state, zipcode, latitude, longitude
        - Month, weekday, year, time, date
        - Personal email, official email, SSN
        - Company, Job title, phone number, license plate

        Further choices are following:
        real_email: If True and if a person's name is also included in the fields, a realistic email will be generated corresponding to the name
        real_city: If True, a real US city's name will be picked up from a list. Otherwise, a fictitious city name will be generated.
        phone_simple: If True, a 10 digit US number in the format xxx-xxx-xxxx will be generated. Otherwise, an international number with different format may be returned.

        seed: Currently not used. Uses seed from the pydb class if chosen by user

        """
        self._validate_args(num, fields)

        df = pd.DataFrame(
            data=self.gen_data_series(num, data_type=fields[0]), columns=[fields[0]]
        )
        for col in fields[1:]:
            if col == "phone":
                if phone_simple:
                    df["phone-number"] = self.gen_data_series(
                        num, data_type="phone_number_simple"
                    )
                else:
                    df["phone-number"] = self.gen_data_series(
                        num, data_type="phone_number_full"
                    )
            elif col == "license_plate":
                df["license-plate"] = self.gen_data_series(num, data_type=col)
            elif col == "city" and real_city:
                df["city"] = self.gen_data_series(num, data_type="real_city")
            else:
                df[col] = self.gen_data_series(num, data_type=col)

        if ("email" in fields) and ("name" in fields) and real_email:
            df["email"] = df["name"].apply(self.realistic_email)

        return df

    def gen_table(
        self,
        num=10,
        fields=["name"],
        db_file=None,
        table_name=None,
        primarykey=None,
        real_email=True,
        real_city=True,
        phone_simple=True,
        seed=None,
    ):
        """
        Attempts to create a table in a database (.db) file using Python's built-in SQLite engine.
        User can specify various data types to be included as database table fields.
        All data types (fields) in the SQLite table will be of VARCHAR type.

        Data types available:
        - Name, country, city, real (US) cities, US state, zipcode, latitude, longitude
        - Month, weekday, year, time, date
        - Personal email, official email, SSN
        - Company, Job title, phone number, license plate

        Further choices are following:
        real_email: If True and if a person's name is also included in the fields, a realistic email will be generated corresponding to the name
        real_city: If True, a real US city's name will be picked up from a list. Otherwise, a fictitious city name will be generated.
        phone_simple: If True, a 10 digit US number in the format xxx-xxx-xxxx will be generated. Otherwise, an international number with different format may be returned.

        Default database and table name will be chosen if not specified by user.
        Primarykey: User can choose a PRIMARY KEY from among the data type fields. If nothing specified, the first data field will be made PRIMARY KEY.

        seed: Currently not used. Uses seed from the pydb class if chosen by user

        """
        self._validate_args(num, fields)

        import sqlite3

        if not db_file:
            conn = sqlite3.connect("NewFakeDB.db")
            c = conn.cursor()
        else:
            conn = sqlite3.connect(str(db_file))
            c = conn.cursor()

        if type(primarykey) != str and primarykey is not None:
            print("Primary key type not identified. Not generating any table")
            return None

        # If primarykey is None, designate the first field as primary key
        if not primarykey:
            table_cols = "(" + str(fields[0]) + " varchar PRIMARY KEY NOT NULL,"
            for col in fields[1:-1]:
                table_cols += str(col) + " varchar,"
            table_cols += str(fields[-1]) + " varchar" + ")"
            # print(table_cols)
        else:
            pk = str(primarykey)
            if pk not in fields:
                print(
                    "Desired primary key is not in the list of fields provided, cannot generate the table!"
                )
                return None

            table_cols = "(" + str(fields[0]) + " varchar, "
            for col in fields[1:-1]:
                if col == pk:
                    table_cols += str(col) + " varchar PRIMARY KEY NOT NULL,"
                else:
                    table_cols += str(col) + " varchar, "
            table_cols += str(fields[-1]) + " varchar" + ")"
            # print(table_cols)

        if not table_name:
            table_name = "Table1"
        else:
            table_name = table_name

        str_drop_table = "DROP TABLE IF EXISTS " + str(table_name) + ";"
        c.execute(str_drop_table)
        str_create_table = (
            "CREATE TABLE IF NOT EXISTS " + str(table_name) + table_cols + ";"
        )
        # print(str_create_table)
        c.execute(str_create_table)

        # Create a temporary df
        temp_df = self.gen_dataframe(
            num=num,
            fields=fields,
            real_email=real_email,
            real_city=real_city,
            phone_simple=phone_simple,
        )
        # Use the dataframe to insert into the table
        for i in range(num):
            str_insert = (
                "INSERT INTO "
                + table_name
                + " VALUES "
                + str(tuple(temp_df.iloc[i]))
                + ";"
            )
            c.execute(str_insert)

        # Commit the insertions and close the connection
        conn.commit()
        conn.close()

    def gen_excel(
        self,
        num=10,
        fields=["name"],
        filename="NewExcel.xlsx",
        real_email=True,
        real_city=True,
        phone_simple=True,
        seed=None,
    ):
        """
        Attempts to create an Excel file using Pandas excel_writer function.
        User can specify various data types to be included as fields.

        Data types available:
        - Name, country, city, real (US) cities, US state, zipcode, latitude, longitude
        - Month, weekday, year, time, date
        - Personal email, official email, SSN
        - Company, Job title, phone number, license plate

        Further choices are following:
        real_email: If True and if a person's name is also included in the fields, a realistic email will be generated corresponding to the name
        real_city: If True, a real US city's name will be picked up from a list. Otherwise, a fictitious city name will be generated.
        phone_simple: If True, a 10 digit US number in the format xxx-xxx-xxxx will be generated. Otherwise, an international number with different format may be returned.

        Default file name will be chosen if not specified by user.

        seed: Currently not used. Uses seed from the pydb class if chosen by user

        """
        self._validate_args(num, fields)

        # Create a temporary dataframe
        temp_df = self.gen_dataframe(
            num=num,
            fields=fields,
            real_email=real_email,
            real_city=real_city,
            phone_simple=phone_simple,
        )
        # Use the dataframe to write to an Excel file using Pandas built-in function
        temp_df.to_excel(filename)

In [5]:
# test Pydb

myDB = Pydb()
fields = ['name', 'street_address', 'city', 'state', 'zipcode', 'country', 'company',
                                         'job_title', 'phone', 'ssn', 'email', 'year', 'weekday',
                                         'date', 'time', 'latitude', 'longitude', 'license_plate']

df = myDB.gen_dataframe(num=100, fields=fields )




df

,name,street_address,city,state,zipcode,country,company,job_title,phone-number,ssn,email,year,weekday,date,time,latitude,longitude,license-plate
0,Jeremy Harvey,861 Charles Mills Suite 231,Del Mar,Nebraska,62493,Lao People's Democratic Republic,Cole-Fisher,"Engineer, maintenance (IT)",627-857-9788,451-64-8879,Jeremy_Harvey@</div>,1997,Friday,2013-04-22,14:08:17,-22.7273815,4.672911,EGB-1428
1,Jacob Sanders,88063 Jeffrey Plaza Suite 501,Westboro,Minnesota,42460,Jersey,"Jackson, Williams and Reynolds",Garment/textile technologist,484-061-8704,399-89-5501,Sanders.Jacob@,1980,Wednesday,2015-02-08,00:56:18,29.8800825,56.040617,8EUO316
2,Dale Williams,18593 Fritz Well,Wiota,Oregon,66541,United States Minor Outlying Islands,"Houston, Brown and Houston",Public house manager,808-525-1032,589-72-1395,DaleWilliams@</div>,1971,Tuesday,1988-02-19,23:08:09,87.053252,16.981199,7FLL471
3,Casey Reed,4800 Lee Green,Neapolis,Arizona,56966,Iceland,"Garcia, Rhodes and Roman",Educational psychologist,546-598-2555,354-24-0030,Reed_Casey@</div>,1970,Sunday,1971-02-21,13:11:30,24.346301,73.603766,1JBW937
4,Raymond Jackson,240 Kane Fort,Roselle Park,Maryland,66933,Tuvalu,"Kelly, Glover and Parker","Exhibitions officer, museum/gallery",855-224-1602,218-34-4152,Raymond_J@,1976,Friday,2002-01-30,06:37:15,-47.7906075,13.401904,2VMX852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Henry Johnson,9411 Wilson River Apt. 550,Corral,North Dakota,17942,Guinea,Lee and Sons,Communications engineer,510-259-6632,746-46-9816,Henry_J@</span>,1979,Saturday,2015-03-22,19:10:30,74.2700385,-58.415497,MLV-3000
96,Kenneth Young,767 Phillip Manors,Altha,California,94245,Gabon,Ward-Harrison,Neurosurgeon,954-838-5975,415-59-4490,Kenneth.Young69@,1999,Sunday,1999-05-31,14:14:05,-0.6869945,-90.937608,4UXT449
97,Jennifer Savage,72758 Alexander Center,Sparksville,Rhode Island,62012,Qatar,"Bates, Chandler and Brown",Building services engineer,434-160-9728,224-29-8629,Jennifer_S@,1999,Tuesday,1986-11-25,08:52:05,74.8406445,81.460355,JZW-7556
98,John Booker,1760 Jamie Islands,Redland,Hawaii,69649,French Southern Territories,Anderson-Koch,Cabin crew,413-898-5336,886-70-8803,"John_Booker@<meta name=""viewport"" content=""wid...",2005,Friday,2013-04-14,21:10:40,52.1877935,-1.836658,1DQV726
99,Andrea Whitehead,05476 Sullivan Bypass Apt. 405,North Fork,Montana,88294,South Africa,"Martin, James and Ramos",Seismic interpreter,484-455-5771,751-82-8654,"Andrea.W@<clipboard-copy role=""menuitem"" class...",1985,Tuesday,1979-07-02,22:59:49,37.8751605,163.077710,5IRT876

In [17]:
from random import random,choice, uniform, randint
from copy import copy
import json

"""
###warning prix produit toujours en fin de liste qui décrit un produit


"""



liste_produit = ['laitue',
               'carotte',
               'orange',
               'pomme de terre',
               'autres',
               ]


bargain = ['bargain',
          'normal',]
bio = ['bio',
      'standart']

gamme = ['haut',
        'moyen',
        'bas',]



dico_prix = {'bargain_bas_standart': (1, 11),
             'bargain_bas_bio': (12, 22),
             'bargain_moyen_standart': (23, 33),
             'bargain_moyen_bio': (34, 44),
             'bargain_haut_standart': (45, 55),
             'bargain_haut_bio': (56, 66),
             'normal_bas_standart': (67, 77),
             'normal_bas_bio': (78, 88),
             'normal_moyen_standart': (89, 99),
             'normal_moyen_bio': (100, 110),
             'normal_haut_standart': (111, 121),
             'normal_haut_bio': (122, 132)}

liste_type = [typeProduit for typeProduit in dico_prix.keys()]



def prix (low, hight) :
    p = uniform (low*100., hight*100.)
    return str(int (p)/100.)


    


def creation_liste (bargain, gamme, bio,
                    dico_prix = dico_prix,
                    liste_produit = ['laitue',
                                             'carotte',
                                              'orange',
                                               'pomme de terre',
                                                'autres',
                                                   ],
                    mots = ['France','Espagne', 'UE'],
                    
                   ):
    
    
    # recuperation gamme de prix fonction de bargain, gamme, bio => low, hight
    rr = [bargain, gamme, bio]
    typeProduit = '_'.join(rr)
    low, hight = dico_prix [typeProduit]
    
    r = []
    for produit in liste_produit :
        rr = [produit,bio, gamme, bargain]
        
        # on genere les mots aleatoires
        rv = randint(0,2)
        ll = copy (rr)
        ll.append (mots[rv])
        description = ' '.join (ll)
        
        rr.append (description)
        rr.append (prix(low,hight))
        r.append(rr)
        continue
    return r

def generation_catalogue () :
    dico = {}
    for categorie in liste_type :
        bargain, gamme,bio= categorie.split('_')
        liste_produit = creation_liste (bargain,
                                         gamme, 
                                         bio,)
        dico [categorie] = liste_produit
        continue
    
    return dico


dico = generation_catalogue ()

for categorie in liste_type :
    liste_produit = dico [categorie]
    print ("## ", categorie)
    for produit in liste_produit :
        print ("   ",produit)
        continue
    print ()
    continue
    
# on sauve en json
data = json.dumps (dico)

nomFile = "../data/generation/produit.json"
f = open (nomFile , 'w')
f.write (data)
f.close()

# on verifie

nomFile = "../data/generation/produit.json"
f = open (nomFile , 'r')
dicoLu = json.loads(f.read ())
f.close()

print ("#### verification")
print ('\n\n')
for categorie in liste_type :
    liste_produit = dicoLu [categorie]
    print ("## ", categorie)
    for produit in liste_produit :
        print ("   ",produit)
        continue
    print ()
    continue

##  bargain_bas_standart
    ['laitue', 'standart', 'bas', 'bargain', 'laitue standart bas bargain France', '10.93']
    ['carotte', 'standart', 'bas', 'bargain', 'carotte standart bas bargain UE', '3.34']
    ['orange', 'standart', 'bas', 'bargain', 'orange standart bas bargain UE', '1.85']
    ['pomme de terre', 'standart', 'bas', 'bargain', 'pomme de terre standart bas bargain UE', '9.31']
    ['autres', 'standart', 'bas', 'bargain', 'autres standart bas bargain UE', '7.02']

##  bargain_bas_bio
    ['laitue', 'bio', 'bas', 'bargain', 'laitue bio bas bargain France', '20.27']
    ['carotte', 'bio', 'bas', 'bargain', 'carotte bio bas bargain France', '15.13']
    ['orange', 'bio', 'bas', 'bargain', 'orange bio bas bargain UE', '16.9']
    ['pomme de terre', 'bio', 'bas', 'bargain', 'pomme de terre bio bas bargain France', '20.91']
    ['autres', 'bio', 'bas', 'bargain', 'autres bio bas bargain UE', '16.47']

##  bargain_moyen_standart
    ['laitue', 'standart', 'moyen', 'bargain', 'laitue standart moyen bargain France', '24.99']
    ['carotte', 'standart', 'moyen', 'bargain', 'carotte standart moyen bargain UE', '29.49']
    ['orange', 'standart', 'moyen', 'bargain', 'orange standart moyen bargain UE', '29.08']
    ['pomme de terre', 'standart', 'moyen', 'bargain', 'pomme de terre standart moyen bargain Espagne', '27.36']
    ['autres', 'standart', 'moyen', 'bargain', 'autres standart moyen bargain Espagne', '30.57']

##  bargain_moyen_bio
    ['laitue', 'bio', 'moyen', 'bargain', 'laitue bio moyen bargain Espagne', '40.62']
    ['carotte', 'bio', 'moyen', 'bargain', 'carotte bio moyen bargain UE', '42.38']
    ['orange', 'bio', 'moyen', 'bargain', 'orange bio moyen bargain France', '39.63']
    ['pomme de terre', 'bio', 'moyen', 'bargain', 'pomme de terre bio moyen bargain France', '34.46']
    ['autres', 'bio', 'moyen', 'bargain', 'autres bio moyen bargain Espagne', '43.03']

##  bargain_haut_standart
    ['laitue', 'standart', 'haut', 'bargain', 'laitue standart haut bargain Espagne', '51.13']
    ['carotte', 'standart', 'haut', 'bargain', 'carotte standart haut bargain France', '54.4']
    ['orange', 'standart', 'haut', 'bargain', 'orange standart haut bargain UE', '53.02']
    ['pomme de terre', 'standart', 'haut', 'bargain', 'pomme de terre standart haut bargain France', '48.86']
    ['autres', 'standart', 'haut', 'bargain', 'autres standart haut bargain UE', '54.64']

##  bargain_haut_bio
    ['laitue', 'bio', 'haut', 'bargain', 'laitue bio haut bargain France', '57.27']
    ['carotte', 'bio', 'haut', 'bargain', 'carotte bio haut bargain France', '63.13']
    ['orange', 'bio', 'haut', 'bargain', 'orange bio haut bargain France', '62.84']
    ['pomme de terre', 'bio', 'haut', 'bargain', 'pomme de terre bio haut bargain UE', '65.45']
    ['autres', 'bio', 'haut', 'bargain', 'autres bio haut bargain Espagne', '57.96']

##  normal_bas_standart
    ['laitue', 'standart', 'bas', 'normal', 'laitue standart bas normal UE', '72.83']
    ['carotte', 'standart', 'bas', 'normal', 'carotte standart bas normal UE', '72.7']
    ['orange', 'standart', 'bas', 'normal', 'orange standart bas normal Espagne', '71.38']
    ['pomme de terre', 'standart', 'bas', 'normal', 'pomme de terre standart bas normal Espagne', '69.45']
    ['autres', 'standart', 'bas', 'normal', 'autres standart bas normal UE', '73.13']

##  normal_bas_bio
    ['laitue', 'bio', 'bas', 'normal', 'laitue bio bas normal Espagne', '80.61']
    ['carotte', 'bio', 'bas', 'normal', 'carotte bio bas normal Espagne', '86.8']
    ['orange', 'bio', 'bas', 'normal', 'orange bio bas normal Espagne', '86.51']
    ['pomme de terre', 'bio', 'bas', 'normal', 'pomme de terre bio bas normal Espagne', '79.19']
    ['autres', 'bio', 'bas', 'normal', 'autres bio bas normal UE', '87.4']

##  normal_moyen_standart
    ['laitue', 'standart', 'moyen', 'normal', 'laitue standart moyen normal France', '98.07']
    ['carotte', 'standart', 'moyen', 'normal', 'carotte standart moyen normal Espagne', '93.23']
    ['orange', 'standart', 'moyen', 'normal', 'orange standart moyen normal UE', '93.97']
    ['pomme de terre', 'standart', 'moyen', 'normal', 'pomme de terre standart moyen normal UE', '94.18']
    ['autres', 'standart', 'moyen', 'normal', 'autres standart moyen normal UE', '90.69']

##  normal_moyen_bio
    ['laitue', 'bio', 'moyen', 'normal', 'laitue bio moyen normal UE', '108.28']
    ['carotte', 'bio', 'moyen', 'normal', 'carotte bio moyen normal France', '101.97']
    ['orange', 'bio', 'moyen', 'normal', 'orange bio moyen normal UE', '101.23']
    ['pomme de terre', 'bio', 'moyen', 'normal', 'pomme de terre bio moyen normal Espagne', '108.49']
    ['autres', 'bio', 'moyen', 'normal', 'autres bio moyen normal France', '108.27']

##  normal_haut_standart
    ['laitue', 'standart', 'haut', 'normal', 'laitue standart haut normal Espagne', '111.63']
    ['carotte', 'standart', 'haut', 'normal', 'carotte standart haut normal Espagne', '115.72']
    ['orange', 'standart', 'haut', 'normal', 'orange standart haut normal UE', '116.1']
    ['pomme de terre', 'standart', 'haut', 'normal', 'pomme de terre standart haut normal Espagne', '112.26']
    ['autres', 'standart', 'haut', 'normal', 'autres standart haut normal UE', '116.06']

##  normal_haut_bio
    ['laitue', 'bio', 'haut', 'normal', 'laitue bio haut normal Espagne', '126.74']
    ['carotte', 'bio', 'haut', 'normal', 'carotte bio haut normal Espagne', '129.27']
    ['orange', 'bio', 'haut', 'normal', 'orange bio haut normal UE', '131.79']
    ['pomme de terre', 'bio', 'haut', 'normal', 'pomme de terre bio haut normal Espagne', '129.68']
    ['autres', 'bio', 'haut', 'normal', 'autres bio haut normal UE', '131.43']

#### verification



##  bargain_bas_standart
    ['laitue', 'standart', 'bas', 'bargain', 'laitue standart bas bargain France', '10.93']
    ['carotte', 'standart', 'bas', 'bargain', 'carotte standart bas bargain UE', '3.34']
    ['orange', 'standart', 'bas', 'bargain', 'orange standart bas bargain UE', '1.85']
    ['pomme de terre', 'standart', 'bas', 'bargain', 'pomme de terre standart bas bargain UE', '9.31']
    ['autres', 'standart', 'bas', 'bargain', 'autres standart bas bargain UE', '7.02']

##  bargain_bas_bio
    ['laitue', 'bio', 'bas', 'bargain', 'laitue bio bas bargain France', '20.27']
    ['carotte', 'bio', 'bas', 'bargain', 'carotte bio bas bargain France', '15.13']
    ['orange', 'bio', 'bas', 'bargain', 'orange bio bas bargain UE', '16.9']
    ['pomme de terre', 'bio', 'bas', 'bargain', 'pomme de terre bio bas bargain France', '20.91']
    ['autres', 'bio', 'bas', 'bargain', 'autres bio bas bargain UE', '16.47']

##  bargain_moyen_standart
    ['laitue', 'standart', 'moyen', 'bargain', 'laitue standart moyen bargain France', '24.99']
    ['carotte', 'standart', 'moyen', 'bargain', 'carotte standart moyen bargain UE', '29.49']
    ['orange', 'standart', 'moyen', 'bargain', 'orange standart moyen bargain UE', '29.08']
    ['pomme de terre', 'standart', 'moyen', 'bargain', 'pomme de terre standart moyen bargain Espagne', '27.36']
    ['autres', 'standart', 'moyen', 'bargain', 'autres standart moyen bargain Espagne', '30.57']

##  bargain_moyen_bio
    ['laitue', 'bio', 'moyen', 'bargain', 'laitue bio moyen bargain Espagne', '40.62']
    ['carotte', 'bio', 'moyen', 'bargain', 'carotte bio moyen bargain UE', '42.38']
    ['orange', 'bio', 'moyen', 'bargain', 'orange bio moyen bargain France', '39.63']
    ['pomme de terre', 'bio', 'moyen', 'bargain', 'pomme de terre bio moyen bargain France', '34.46']
    ['autres', 'bio', 'moyen', 'bargain', 'autres bio moyen bargain Espagne', '43.03']

##  bargain_haut_standart
    ['laitue', 'standart', 'haut', 'bargain', 'laitue standart haut bargain Espagne', '51.13']
    ['carotte', 'standart', 'haut', 'bargain', 'carotte standart haut bargain France', '54.4']
    ['orange', 'standart', 'haut', 'bargain', 'orange standart haut bargain UE', '53.02']
    ['pomme de terre', 'standart', 'haut', 'bargain', 'pomme de terre standart haut bargain France', '48.86']
    ['autres', 'standart', 'haut', 'bargain', 'autres standart haut bargain UE', '54.64']

##  bargain_haut_bio
    ['laitue', 'bio', 'haut', 'bargain', 'laitue bio haut bargain France', '57.27']
    ['carotte', 'bio', 'haut', 'bargain', 'carotte bio haut bargain France', '63.13']
    ['orange', 'bio', 'haut', 'bargain', 'orange bio haut bargain France', '62.84']
    ['pomme de terre', 'bio', 'haut', 'bargain', 'pomme de terre bio haut bargain UE', '65.45']
    ['autres', 'bio', 'haut', 'bargain', 'autres bio haut bargain Espagne', '57.96']

##  normal_bas_standart
    ['laitue', 'standart', 'bas', 'normal', 'laitue standart bas normal UE', '72.83']
    ['carotte', 'standart', 'bas', 'normal', 'carotte standart bas normal UE', '72.7']
    ['orange', 'standart', 'bas', 'normal', 'orange standart bas normal Espagne', '71.38']
    ['pomme de terre', 'standart', 'bas', 'normal', 'pomme de terre standart bas normal Espagne', '69.45']
    ['autres', 'standart', 'bas', 'normal', 'autres standart bas normal UE', '73.13']

##  normal_bas_bio
    ['laitue', 'bio', 'bas', 'normal', 'laitue bio bas normal Espagne', '80.61']
    ['carotte', 'bio', 'bas', 'normal', 'carotte bio bas normal Espagne', '86.8']
    ['orange', 'bio', 'bas', 'normal', 'orange bio bas normal Espagne', '86.51']
    ['pomme de terre', 'bio', 'bas', 'normal', 'pomme de terre bio bas normal Espagne', '79.19']
    ['autres', 'bio', 'bas', 'normal', 'autres bio bas normal UE', '87.4']

##  normal_moyen_standart
    ['laitue', 'standart', 'moyen', 'normal', 'laitue standart moyen normal France', '98.07']
    ['carotte', 'standart', 'moyen', 'normal', 'carotte standart moyen normal Espagne', '93.23']
    ['orange', 'standart', 'moyen', 'normal', 'orange standart moyen normal UE', '93.97']
    ['pomme de terre', 'standart', 'moyen', 'normal', 'pomme de terre standart moyen normal UE', '94.18']
    ['autres', 'standart', 'moyen', 'normal', 'autres standart moyen normal UE', '90.69']

##  normal_moyen_bio
    ['laitue', 'bio', 'moyen', 'normal', 'laitue bio moyen normal UE', '108.28']
    ['carotte', 'bio', 'moyen', 'normal', 'carotte bio moyen normal France', '101.97']
    ['orange', 'bio', 'moyen', 'normal', 'orange bio moyen normal UE', '101.23']
    ['pomme de terre', 'bio', 'moyen', 'normal', 'pomme de terre bio moyen normal Espagne', '108.49']
    ['autres', 'bio', 'moyen', 'normal', 'autres bio moyen normal France', '108.27']

##  normal_haut_standart
    ['laitue', 'standart', 'haut', 'normal', 'laitue standart haut normal Espagne', '111.63']
    ['carotte', 'standart', 'haut', 'normal', 'carotte standart haut normal Espagne', '115.72']
    ['orange', 'standart', 'haut', 'normal', 'orange standart haut normal UE', '116.1']
    ['pomme de terre', 'standart', 'haut', 'normal', 'pomme de terre standart haut normal Espagne', '112.26']
    ['autres', 'standart', 'haut', 'normal', 'autres standart haut normal UE', '116.06']

##  normal_haut_bio
    ['laitue', 'bio', 'haut', 'normal', 'laitue bio haut normal Espagne', '126.74']
    ['carotte', 'bio', 'haut', 'normal', 'carotte bio haut normal Espagne', '129.27']
    ['orange', 'bio', 'haut', 'normal', 'orange bio haut normal UE', '131.79']
    ['pomme de terre', 'bio', 'haut', 'normal', 'pomme de terre bio haut normal Espagne', '129.68']
    ['autres', 'bio', 'haut', 'normal', 'autres bio haut normal UE', '131.43']

In [11]:
bio = 'bio'
bargain = 'bargain'
gamme = 'haut'


creation_liste (bargain,
                gamme,
                bio
               )

[['laitue',
  'bio',
  'haut',
  'bargain',
  'laitue bio haut bargain Espagne',
  '58.82'],
 ['carotte',
  'bio',
  'haut',
  'bargain',
  'carotte bio haut bargain France',
  '63.21'],
 ['orange',
  'bio',
  'haut',
  'bargain',
  'orange bio haut bargain France',
  '57.93'],
 ['pomme de terre',
  'bio',
  'haut',
  'bargain',
  'pomme de terre bio haut bargain Espagne',
  '61.09'],
 ['autres',
  'bio',
  'haut',
  'bargain',
  'autres bio haut bargain Espagne',
  '59.38']]

In [12]:
# prix

prix (1,100)

'90.05'

In [15]:
# creation automatique du dico gamme de prix fonction du type produit

bargain = ['bargain',
          'normal',]
bio = ['standart','bio',
      ]

gamme = ['bas',
         'moyen',
         'haut',
         ]



dico = {}
low = 1
for bargain1 in bargain:
    for gamme1 in gamme:
        for bio1 in bio :
            s = "_".join ([bargain1, gamme1, bio1])
            dico [s] = (low, low+10)
            low += 11
            
            

            
                
dico

{'bargain_bas_standart': (1, 11),
 'bargain_bas_bio': (12, 22),
 'bargain_moyen_standart': (23, 33),
 'bargain_moyen_bio': (34, 44),
 'bargain_haut_standart': (45, 55),
 'bargain_haut_bio': (56, 66),
 'normal_bas_standart': (67, 77),
 'normal_bas_bio': (78, 88),
 'normal_moyen_standart': (89, 99),
 'normal_moyen_bio': (100, 110),
 'normal_haut_standart': (111, 121),
 'normal_haut_bio': (122, 132)}

In [16]:
from random import random,choice, uniform
low = 1
hight = 10
p = uniform (low*100., hight*100.)
int (p)/100.

3.11